
{% load static %}

<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posted photos</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'style1.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      .thumbs-up {
        color: gray;
        cursor: pointer;
      }
      .clicked {
        color: #00deff;
        cursor: pointer;
      }
      
  .element.style {
    background-color: #3097D1;
    margin-top: -7px;
    margin-bottom: 5px;
  }
  .img-fluid {
    max-width: 55%;
    height: auto;
  }
  
  .card {
    background-color: #f8f9fa;
  }

  .ram {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
  
  .ram img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .form-control {
    width: 30%;
  }
  .navbar-nav mr-auto text-capitalize{
    width: 20%;
  }
  .nav-item{
    width: 20%;
  }
  .navbar-expand-md .navbar-nav {
    width: 80%;
  }
  .card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    height: 250px;
}
  
    </style>
</head>
<body>


  <!-------------------------------NAvigation Starts------------------>

  <nav class="navbar navbar-expand-md navbar-dark" style="background-color:#3097D1">
    {% block nav %}
          <a href="index.html" class="navbar-brand"><img src="{% static 'My project (10).png' %}" alt="logo" class="img-fluid" width="80px" height="55px"></a>
  
          <button class="navbar-toggler" data-toggle="collapse" data-target="#responsive"><span class="navbar-toggler-icon"></span></button>
  
  
          <div class="collapse navbar-collapse" id="responsive">
              <ul class="navbar-nav mr-auto text-capitalize">
                  <li class="nav-item"><a href="/view_article" class="nav-link active">Article</a></li>
                  <li class="nav-item"><a href="/view_post/" class="nav-link">My Profile</a></li>
                  <li class="nav-item"><a href="/create/" class="nav-link">Post</a></li>
                  
                  
                 
  
              </ul>

          
                  <input type="text" name="search" id="search" placeholder="Search" class="form-control form-control-sm" width="30%">
                  <button data-bs-toggle="modal" data-bs-target="#srchmodal" onclick="getsrch()" id="srchbtn" >search</button>

              
              <div class="modal fade" id="srchmodal" tabindex="-1" aria-labelledby="srchmodalLabel" area-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content" id="srchcontent">

                  </div>
                </div>
              </div>
  
  
  
          </div>
  
          {% endblock nav %}
  
  
      </nav>


      {% if messages %}
      {% for message in messages  %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      


      <div class="container">
        <div class="row">
          {% for img in post %}
          <div class="col-md-4">
            <div class="card mb-4">
              <img
                class="card-img-top"
                src="{{ img.image.url }}"
                alt="{{ post.title }}"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal{{ img.id }}"
              />
              <div class="card-body">
                
                <h2 class="card-title">{{ img.user.username }}</h2>
                <h5 class="card-text">{{ img.title }}</h5>
                <p class="card-text">{{ img.content }}</p></br>
                <p class="card-text">{{ img.created_at }}</p>
              </div>
              <div class="card-footer">
                <i
                  class="fas fa-thumbs-up {% if request.user in img.likes.all %} clicked {%else%} thumbs-up {% endif %}"
                  onclick="toggleLike({{img.id}})"
                  id="likeBtn-{{ img.id }}"
                ></i>
                <span id="likes-{{ img.id }}">{{ img.likes.count }}</span>
              </div>
            </div>
          </div>
    
          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModal{{ img.id }}"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    {{ img.imagename }}
                  </h5>

                  
                 <a href="{{ img.image.url }}" download><button type="button"  class="btn btn-primary" >download</button> </a>

                </div>
                <div class="modal-body">
                  <img
                    src="{{ img.image.url }}"
                    class="img-fluid"
                    alt="{{ img.imagename }}"
                  />
                  <p>{{img.imagecaption}}</p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <script>
        const csrfToken = "{{ csrf_token }}";

  function toggleLike(postId) {
    var url = 'toggle-like-post/' + postId + '/';
    var xhr = new XMLHttpRequest();
    xhr.open('POST', url);
    xhr.setRequestHeader('X-CSRFToken', csrfToken);
    xhr.onload = function () {
      var data = JSON.parse(xhr.responseText);
      var likeBtn = document.getElementById('likeBtn-' + postId);
      var likes = document.getElementById('likes-' + postId);
      likes.innerHTML = data.likes;
      if (data.is_liked) {
        likeBtn.classList.add('clicked');
        likeBtn.classList.remove('thumbs-up');
      } else {
        likeBtn.classList.add('thumbs-up');
        likeBtn.classList.remove('clicked');
      }
      likes.innerHTML = data.likes;
    };
    xhr.send();
  }

function getsrch() {
  var ele=document.getElementById("search");
  var srchtxt=ele.value;
  var url='srch/'+srchtxt+'/';
  var xhr = new XMLHttpRequest();
    xhr.open('POST', url);
    xhr.setRequestHeader('X-CSRFToken', csrfToken);
    xhr.onload = function () {
      var data = JSON.parse(xhr.responseText);
      var srchdiv = document.getElementById('srchcontent');
      srchdiv.innerHTML=data.users
    };
    xhr.send();
  }



   
    document.addEventListener("DOMContentLoaded", function() {
      
      var closeButtons = document.querySelectorAll(".alert .close");
  
      
      closeButtons.forEach(function(button) {
        button.addEventListener("click", function() {
          
          var alertDiv = this.parentElement;
  
          
          alertDiv.classList.add("fade");
  
          
          setTimeout(function() {
            alertDiv.remove();
          }, 500);
        });
      });
    });
  



      </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>